[submodule "techie-frontend"]
	path = techie-frontend
	url = https://github.com/josepablo98/techie-frontend.git
[submodule "techie-backend"]
	path = techie-backend
	url = https://github.com/josepablo98/techie-backend.git